<h1>all модели </h1>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  </thead>

  <tbody>
  <% @models.each do |model| %>
    <tr>
      <td><%= model.id %></td>
      <td><%= model.model %></td>
      <td><%= link_to 'Редагувати', models_edit_path+"?id="+model.id.to_s , class: "link2"%></td>
      <td><%= link_to 'Видалити',models_delete_path+"?id="+model.id.to_s, method: :delete, data: { turbo_method: "delete" }, class: "link2" %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to "Нова модель", models_new_path, class: "link" %>