<h1>Статуси </h1>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  </thead>

  <tbody>
  <% @statuses.each do |status| %>
    <tr>
      <td><%= status.id %></td>
      <td><%= status.name %></td>
      <td><%= link_to 'Редагувати', statuses_edit_path+"?id="+status.id.to_s, class: "link2" %></td>
      <td><%= link_to 'Видалити',statuses_delete_path+"?id="+status.id.to_s, method: :delete, data: { turbo_method: "delete" }, class: "link2" %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>
<%= link_to "Новий статус", statuses_new_path, class: "link" %>