<h1>Марки </h1>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  </thead>

  <tbody>
  <% @markas.each do |marka| %>
    <tr>
      <td><%= marka.id %></td>
      <td><%= marka.name %></td>
      <td><%= link_to 'Редагувати', markas_edit_path+"?id="+marka.id.to_s, class: "link2" %></td>
      <td><%= link_to 'Видалити',markas_delete_path+"?id="+marka.id.to_s, method: :delete, data: { turbo_method: "delete" }, class: "link2" %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to "Нова марка", markas_new_path, class: "link"%>