
<style>
    .content {
        display: inline-block;
        border-bottom-color: transparent;
        border-top-color: transparent;
    }

    .cool-table {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }

    .cool-block {
        border: 1px solid black;
        padding: 10px;
        box-sizing: border-box;
    }

    .cool-block img {
        width: 400px; /* Установите желаемую ширину */
        height: 200px; /* Установите желаемую высоту */
        object-fit: cover;
    }
    .price {
        font-size: 23px; /* Измените размер по вашему усмотрению */
    }
</style>
<div class="content">
  <h1>Пошук</h1>
  <%= form_tag advertisements_path, method: :get do %>
    <div class="search-wrapper">
      <%= text_field_tag :title, params[:title], placeholder: "Введите запрос" %>
    </div>
    <div id="advanced-search" style="display: none;">
      <select name="city_id" class="select-input">
        <option value="">Виберіть місто</option>
        <% City.all.each do |marka| %>
          <option value="<%= marka.id %>"><%= marka.name %></option>
        <% end %>
      </select>
      <select name="model_marka_auto_id" class="select-input">
        <option value="">Виберіть модель та марку</option>
        <% ModelMarkaAuto.eager_load(:marka_auto).all.each do |marka| %>
          <option value="<%= marka.id %>"><%= marka.marka_auto.name + " " + marka.model %></option>
        <% end %>
      </select>
      <select name="color_id" class="select-input">
        <option value="">Виберіть колір</option>
        <% Color.all.each do |marka| %>
          <option value="<%= marka.id %>"><%= marka.name %></option>
        <% end %>
      </select>
      <select name="country_id">
        <option value="">Виберіть країну виробника</option>
        <% Country.all.each do |marka| %>
          <option value=<%= marka.id %>><%= marka.name %></option>
        <% end %>
      </select>
      <select name="type_auto_id" class="select-input">
        <option value="">Виберіть тип авто</option>
        <% TypeAuto.all.each do |marka| %>
          <option value=<%= marka.id %>><%= marka.name %></option>
        <% end %>
      </select>
      <select name="type_kuzov_id" class="select-input">
        <option value="">Виберіть тип кузова</option>
        <% TypeKuzov.all.each do |marka| %>
          <option value=<%= marka.id %>><%= marka.name %></option>
        <% end %>
      </select>
      <select name="type_fuel_id" class="select-input">
        <option value="">Виберіть тип палива</option>
        <% TypeFuel.all.each do |marka| %>
          <option value=<%= marka.id %>><%= marka.name %></option>
        <% end %>
      </select>
      <select name="type_transmission_id" class="select-input">
        <option value="">Виберіть тип коробки передач</option>
        <% TypeTransmission.all.each do |marka| %>
          <option value=<%= marka.id %>><%= marka.name %></option>
        <% end %>
      </select>
      <select name="type_drive_auto_id" class="select-input">
        <option value="">Виберіть тип приводу</option>
        <% TypeDriveAuto.all.each do |marka| %>
          <option value=<%= marka.id %>><%= marka.name %></option>
        <% end %>
      </select>
      <select name="valute_id" class="select-input">
        <option value="">Виберіть валюту</option>
        <% Valute.all.each do |marka| %>
          <option value=<%= marka.id %>><%= marka.name %></option>
        <% end %>
      </select>
      <select name="sort_price" class="select-input">
        <option value="">Виберіть спосіб сортування</option>
        <option value="up">Від найдорожчих</option>
        <option value="down">Від дешевших</option>
      </select>
      <input class="styled-input" type="number" name="year" placeholder="Рік">
      <input class="styled-input" type="number" name="min_price" placeholder="Мінімальна ціна">
      <input class="styled-input" type="number" name="max_price" placeholder="Максимальна ціна">
    </div>
    <%= submit_tag 'Знайти' %>
  <% end %>

  <button onclick="toggleAdvancedSearch()">Розширений пошук</button>

  <script>
      function toggleAdvancedSearch() {
          var advancedSearch = document.getElementById('advanced-search');
          if (advancedSearch.style.display === 'none') {
              advancedSearch.style.display = 'block';
          } else {
              advancedSearch.style.display = 'none';
          }
      }
  </script>
</div>

<div class="cool-table">
  <% @advs.each do |adv| %>
    <div class="cool-block">
      <%= image_tag adv.photos.first.file %><br>
      <a class="link" href="<%= advertisements_show_path(id: adv.id) %>"><%= adv.title %> </a><br>
      <% if adv.price_data.size < 2 %>
        <p class="price"><%= adv.price_data.sort_by(&:created_at).last.price.count.to_s + " " + adv.price_data.sort_by(&:created_at).last.price.valute.name %> </p>
      <% else %>
        <p class="price"><s><%= adv.price_data.sort_by(&:created_at)[-2].price.count.to_s + " " + adv.price_data.sort_by(&:created_at)[-2].price.valute.name %> </s></p>
        <p class="price"><%= adv.price_data.sort_by(&:created_at).last.price.count.to_s + " " + adv.price_data.sort_by(&:created_at).last.price.valute.name %> </p>
      <% end %>
    </div>
  <% end %>
</div>
<%= paginate @advs, params: { title: params[:title], city_id: params[:city_id], color_id: params[:color_id], model_marka_auto_id: params[:model_marka_auto_id], country_id: params[:country_id], type_kuzov_id: params[:type_kuzov_id], type_fuel_id: params[:type_fuel_id], type_transmission_id: params[:type_transmission_id], type_drive_auto_id: params[:type_drive_auto_id], valute_id: params[:valute_id], year: params[:year] , min_price: params[:min_price], max_price: params[:max_price], sort_price: params[:sort_price]   } %>
