<style>
    .content {
        display: inline-block;
        border-bottom-color: transparent;
        border-top-color: transparent;
        font-size: 25px;
    }

    table {
        border-collapse: collapse;
        margin-top: 20px;
    }

    table td,
    table th {
        border: 1px solid black;
        padding: 5px;
    }

    table td:first-child,
    table th:first-child {
        font-weight: bold;
        text-align: left;
    }
</style>

<div class="content">
  <h1>New Adv</h1>

  <%= form_tag advertisements_new_path, multipart: true do %>
    <table>
      <tr>
        <td><%= file_field_tag :file %></td>
      </tr>
      <tr>
        <td><b>Назва</b></td>
        <td><input type="text" name="title" placeholder="Назва"></td>
      </tr>
      <tr>
        <td><b>Текст</b></td>
        <td><input type="text" name="text" placeholder="Текст"></td>
      </tr>
      <tr>
        <td><b>Стан новий</b></td>
        <td><%= check_box_tag :is_new, 'is_new', false %></td>
      </tr>
      <tr>
        <td><b>Рік</b></td>
        <td><input type="number" name="year" placeholder="Рік"></td>
      </tr>
      <tr>
        <td><b>Пробіг</b></td>
        <td><input type="number" name="miliage" placeholder="Пробіг"></td>
      </tr>
      <tr>
        <td><b>Ціна</b></td>
        <td><input type="number" name="count" placeholder="Ціна"></td>
      </tr>
      <tr>
        <td><b>Валюта</b></td>
        <td>
          <select name="valute_id">
            <% Valute.all.each do |marka| %>
              <option value=<%= marka.id %>><%= marka.name %></option>
            <% end %>
          </select>
        </td>
      </tr>
      <tr>
        <td><b>Тип авто</b></td>
        <td>
          <select name="type_auto_id">
            <% TypeAuto.all.each do |marka| %>
              <option value=<%= marka.id %>><%= marka.name %></option>
            <% end %>
          </select>
        </td>
      </tr>
    </table>

    <table>
      <tr>
        <td><b>Марка та модель авто</b></td>
        <td>
          <select name="model_marka_auto_id">
            <% ModelMarkaAuto.all.each do |marka| %>
              <option value=<%= marka.id %>><%= marka.marka_auto.name + " " + marka.model %></option>
            <% end %>
          </select>
        </td>
      </tr>
      <tr>
        <td><b>Тип кузова</b></td>
        <td>
          <select name="type_kuzov_id">
            <% TypeKuzov.all.each do |marka| %>
              <option value=<%= marka.id %>><%= marka.name %></option>
            <% end %>
          </select>
        </td>
      </tr>
      <tr>
        <td><b>Тип палива</b></td>
        <td>
          <select name="type_fuel_id">
            <% TypeFuel.all.each do |marka| %>
              <option value=<%= marka.id %>><%= marka.name %></option>
            <% end %>
          </select>
        </td>
      </tr>
      <tr>
        <td><b>Тип коробки передач</b></td>
        <td>
          <select name="type_transmission_id">
            <% TypeTransmission.all.each do |marka| %>
              <option value=<%= marka.id %>><%= marka.name %></option>
            <% end %>
          </select>
        </td>
      </tr>
    </table>

    <table>
      <tr>
        <td><b>Тип приводу</b></td>
        <td>
          <select name="type_drive_auto_id">
            <% TypeDriveAuto.all.each do |marka| %>
              <option value=<%= marka.id %>><%= marka.name %></option>
            <% end %>
          </select>
        </td>
      </tr>
      <tr>
        <td><b>Колір</b></td>
        <td>
          <select name="color_id">
            <% Color.all.each do |marka| %>
              <option value=<%= marka.id %>><%= marka.name %></option>
            <% end %>
          </select>
        </td>
      </tr>
    </table>

    <table>
      <tr>
        <td><b>Місто</b></td>
        <td>
          <select name="city_id">
            <% City.all.each do |marka| %>
              <option value=<%= marka.id %>><%= marka.name %></option>
            <% end %>
          </select>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <%= submit_tag 'Зберегти', class: "content" %>
        </td>
      </tr>
    </table>
  <% end %>
</div>