<h1>Валюти </h1>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  </thead>

  <tbody>
  <% @valutes.each do |valute| %>
    <tr>
      <td><%= valute.id %></td>
      <td><%= valute.name %></td>
      <td><%= link_to 'Редагувати', valutes_edit_path+"?id="+valute.id.to_s, class: "link2" %></td>
      <td><%= link_to 'Видалити',valutes_delete_path+"?id="+valute.id.to_s, method: :delete, data: { turbo_method: "delete" }, class: "link2" %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>
<%= link_to "Нова валюта", valutes_new_path, class: "link" %>