<h1>Країни </h1>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  </thead>

  <tbody>
  <% @countries.each do |country| %>
    <tr>
      <td><%= country.id %></td>
      <td><%= country.name %></td>
      <td><%= link_to 'Редагувати', countries_edit_path+"?id="+country.id.to_s, class: "link2" %></td>
      <td><%= link_to 'Видалити',countries_delete_path+"?id="+country.id.to_s, method: :delete, data: { turbo_method: "delete" }, class: "link2" %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>
<%= link_to "Нова країна", countries_new_path, class: "link" %>