<!DOCTYPE html>
<html>
  <head>
    <title>AutoriaApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <div class="header">
      <a href="/">Головна</a>
      <a href="<%= advertisements_path %>">Об'яви</a>
      <a href="<%= advertisements_new_path %>">newОб'явa</a>
      <%= link_to 'Вийти', destroy_user_login_session_path, method: :delete, data: { turbo_method: "delete" }, class: "link2" %>
      <a href= "<%= "#" %>">Увійти</a>
      <a href="<%= users_show_path %>">Мій акаунт</a>
    </div>
    <div class="header">
      <a href= "<%=statuses_path %>">all statuses</a>
      <a href= "<%=cities_path %>">all cities</a>
      <a href= "<%=colors_path %>">all colors</a>
      <a href= "<%=countries_path %>">all countries</a>
      <a href= "<%=markas_path %>">all markas</a>
      <a href= "<%=models_path %>">all models</a>
      <a href= "<%=type_autos_path %>">all type_autos</a>
      <a href= "<%=type_drive_autos_path %>">all type_drive_autos</a>
      <a href= "<%=type_fuels_path %>">all type_fuels</a>
      <a href= "<%=type_kuzovs_path %>">all type_kuzovs</a>
      <a href= "<%=type_transmissions_path %>">all type_transmissions</a>
      <a href= "<%=valutes_path %>">all valutes</a>
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
