<!DOCTYPE html>
<html>
  <head>
    <title>AutoriaApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <div class="header">
      <a href="/">Головна</a>
      <a href= "<%=statuses_path %>">all statuses</a>
      <a href="#">Ссылка 3</a>
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
